<h1>Accordion</h1>

<div class="ui segment raised">
  <p>
    Use an enclosing ui-accordion and wrap each section in a ui-accordion-section.
  </p>
  <p>
    Pass in the <code>styled</code> class to make the accordion styled
  </p>
  <p>
    You can add titles to your accordion sections and set which one is initially active.
  </p>
</div>

<div class="ui segment">
  <div class="ui header">
    An unstyled accordion
  </div>
  <pre class="ui segment green">
    \{{#ui-accordion}}
      \{{#ui-accordion-section title='My Unstyled Accordion' active=true}}
          &lt;p&gt;This is the content of the accordion&lt;/p&gt;
      \{{/ui-accordion-section}}
      \{{#ui-accordion-section title='My Second Section'}}
          &lt;p&gt;This is the content of the second section&lt;/p&gt;
      \{{/ui-accordion-section}}
    \{{/ui-accordion}}
  </pre>
  <div class="ui segment grey">
    {{#ui-accordion}}
      {{#ui-accordion-section title='My Unstyled Accordion' active=true}}
        <p>This is the content of the accordion</p>
      {{/ui-accordion-section}}
      {{#ui-accordion-section title='My Second Section'}}
        <p>This is the content of the second section</p>
      {{/ui-accordion-section}}
    {{/ui-accordion}}
  </div>
</div>

<div class="ui segment">
  <div class="ui header">
    A styled accordion
  </div>
  <pre class="ui segment green">
    \{{#ui-accordion <span class="ui label olive">class='styled'</span>}}
      \{{#ui-accordion-section title='My Styled Accordion' active=true}}
        &lt;p&gt;This is the content of the accordion&lt;/p&gt;
      \{{/ui-accordion-section}}
      \{{#ui-accordion-section title='My Second Section'}}
        &lt;p&gt;This is the content of the second section&lt;/p&gt;
      \{{/ui-accordion-section}}
    \{{/ui-accordion}}
  </pre>
  <div class="ui segment grey">
    {{#ui-accordion class='styled'}}
      {{#ui-accordion-section title='My Styled Accordion' active=true}}
        <p>This is the content of the accordion</p>
      {{/ui-accordion-section}}
      {{#ui-accordion-section title='My Second Section'}}
        <p>This is the content of the second section</p>
      {{/ui-accordion-section}}
      {{#ui-accordion-section title='My Third Section'}}
        <p>This is the content of the third section</p>
      {{/ui-accordion-section}}
    {{/ui-accordion}}
  </div>
</div>
