<div class="ui page grid">
  <div class="eleven wide column">
    <h2 id="title">Welcome to Ember</h2>
    <div class="ui menu">
      {{#link-to 'checkbox' class='item'}}Checkbox{{/link-to}}
      {{#link-to 'radio' class='item'}}Radio{{/link-to}}
      {{#link-to 'accordion' class='item'}}Accordion{{/link-to}}
    </div>

    {{outlet}}
  </div>
</div>
