<h1>Dimmer</h1>
<div class="ui segment raised">
  <p>
    Use the dimmable component to dim the content in the block
  </p>
</div>

<div class="ui segment">
  <pre>
    \{{#ui-dimmable}}
      Click me!
    \{{/ui-dimmable}}
  </pre>
  {{#ui-dimmable}}
      Click me!
  {{/ui-dimmable}}
</div>

<div class="ui segment">
  <pre>
    \{{#ui-dimmable class='ui segment'}}
      Click me!
    \{{/ui-dimmable}}
  </pre>
  {{#ui-dimmable class='ui segment'}}
      Click me!
  {{/ui-dimmable}}
</div>

<div class="ui segment">
  <pre>
    \{{#ui-dimmable targetElement='#dimMe'}}
      This should not be dimmed
      &lt;div id="dimMe" class="ui dimmable"&gt;
        This should be dimmed!
      &lt;/div&gt;
    \{{/ui-dimmable}}
  </pre>
  {{#ui-dimmable targetElement='#dimMe'}}
    This should not be dimmed
    <div id="dimMe" class="ui dimmable">
      This should be dimmed!
    </div>
  {{/ui-dimmable}}
</div>

<div class="ui segment">
  <pre>
    \{{#ui-dimmable}}
      &lt;p&gt;
        This will be dimmed and there will be content overlayed
      &lt;br/&gt;
      &lt;br/&gt;
      &lt;br/&gt;
      &lt;br/&gt;
      &lt;/p&gt;
      &lt;div class="ui dimmer"&gt;
        &lt;div class="content"&gt;
          &lt;div class="center"&gt;
            &lt;h2 class="ui inverted icon header"&gt;
              &lt;i class="heart icon"&gt;&lt;/i&gt;
              Dimmed Message!
            &lt;/h2&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    \{{/ui-dimmable}}
  </pre>
  {{#ui-dimmable class='ui segment'}}
    <p>
      This will be dimmed and there will be content overlayed
    <br/>
    <br/>
    <br/>
    <br/>
    </p>
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <h2 class="ui inverted icon header">
            <i class="heart icon"></i>
            Dimmed Message!
          </h2>
        </div>
      </div>
    </div>
  {{/ui-dimmable}}
</div>
