
<div class="ui segment raised">
  <div class="ui header">
    Ember CLI Semantic UI
  </div>
  <div class="ui content">
    This addon provides a set of Ember components to make it easier to integrate
    the awesome Semantic UI with your Ember application.
  </div>
</div>

<div class="ui segment">
  <div class="ui header">
    This guide ...
  </div>
  <div class="ui content">
    Each section shows live examples of the components and how to use them
  </div>
</div>
