<h1>Popup</h1>

<div class="ui segment raised">
  <p>
    Popups are wrapped in a span tag by default so they can be used inline.
    Further customize by add your own layout in the block.
  </p>
</div>

<div class="ui segment">
  <div class="ui header">
    Use simple content
  </div>
  <pre class="ui segment green">
    \{{#ui-popup content='This is the content'}}
      Hover
    \{{/ui-popup}}
  </pre>
  <div class="ui segment grey">
  {{#ui-popup content='This is the content'}}
      Hover
  {{/ui-popup}}
  </div>
</div>

<div class="ui segment">
  <div class="ui header">
    Use a specific element as the content of the popup
  </div>
  <pre class="ui segment green">
    \{{#ui-popup <span class="ui label olive">popup='#mySpecialPopup'</span>}}
    Hover
      &lt;div id="mySpecialPopup" class="ui special popup"&gt;
        &lt;div class="header">This is SPECIAL&lt;/div&gt;
        &lt;div class="ui button"&gt;
          Whoop!
        &lt;/div&gt;
      &lt;/div&gt;
    \{{/ui-popup}}
  </pre>
  <div class="ui segment grey">
  {{#ui-popup popup='#mySpecialPopup'}}
    Hover
    <div id="mySpecialPopup" class="ui special popup">
      <div class="header">This is SPECIAL</div>
      <div class="ui button">
        Whoop!
      </div>
    </div>
  {{/ui-popup}}
  </div>
</div>

<div class="ui segment">
  <div class="ui header">
    Specify the opening location of the popup
  </div>
  <pre class="ui segment green">
    \{{#ui-popup content='Bottom Center' <span class="ui label olive">position='bottom center'</span>}}
      &lt;div class="ui button red"&gt;Hover&lt;/div"&gt;
    \{{/ui-popup}}
  </pre>
  <div class="ui segment grey">
    {{#ui-popup content='Bottom Center' position='bottom center' }}
        <div class="ui button red">
          Hover
        </div>
    {{/ui-popup}}
  </div>
</div>

<div class="ui segment">
  <div class="ui header">
    Use specific transitions
  </div>
   <div class="ui content">
     from <a href="http://semantic-ui.com/modules/transition.html">http://semantic-ui.com/modules/transition.html</a>
   </div>
  <pre class="ui segment green">
    \{{#ui-popup content='Right center with transition'
                position='right center'
                <span class="ui label olive">transition='fly left'</span>
    }}
      Hover
    \{{/ui-popup}}
  </pre>
  <div class="ui segment grey">
    {{#ui-popup content='Right center with transition' position='right center' transition='fly left' }}
        Hover
    {{/ui-popup}}
  </div>
</div>
