<h1>Radio</h1>
<div class="ui segment raised">
  <p>
    Given an Array of objects you need to pass in the name of the label and value on the objects
  </p>
</div>

<div class="ui segment">
  Selected item value is: {{checkedNamed}}
  <pre>
    \{{ui-radio-collection
      optionCollection=namedCollection
      checked=checkedNamed
      value='rgb'
      label='color'
    }}
  </pre>
  {{ui-radio-collection optionCollection=namedCollection checked=checkedNamed value='rgb' label='color'}}
</div>
