<h1>Radio</h1>
<p>
  Selected item is: {{selectedItem}}
</p>
<div class="ui segment raised">
  <p>
    Given a plain Array will use each index as both label and value
  </p>
</div>

<div class="ui segment">
  <pre>
    \{{ui-radio-collection optionCollection=optionCollection}}
  </pre>
  {{ui-radio-collection optionCollection=optionCollection checked=checked}}
</div>
